<ion-content>
    <ion-toolbar color="warning">
        <ion-title>
            แอพพิเคชั่นสมัครเรียนออนไลน์
        </ion-title>
    </ion-toolbar>
    <div class="box">
        <div class="img-box">
            <img class="img" src="assets/ero.png" alt="">
        </div>
        <ion-list>
            <div class="ato">
                <ion-title>
                    ระบบรับสมัครนักเรียน นักศึกษา
                </ion-title>
                <ion-title>
                    STUDENT ADMISSION SYSTEM
                </ion-title>
            </div>
        </ion-list>
        <div class="button">
            <ion-button shape="round" (click)="GoToHome()">หน้าแรก</ion-button>
            <ion-button shape="round" (click)="GoTocourse()">หลักสูตรที่เปิดรับสมัคร (ปีการศึกษา 1/2566)</ion-button>
            <ion-button shape="round" (click)="GoToenroll()">สมัครเรียน (ปีการศึกษา 1/2566)</ion-button>
            <ion-button shape="round" (click)="GoTocheck()">ตรวจสอบผลการสมัคร (ปีการศึกษา 1/2566) </ion-button>
            <ion-button shape="round" (click)="GoTocontact()">ติดต่อ-สอบถาม</ion-button>
        </div>
    </div>
    <img class="img1" src="assets/02.jpg" alt="">
</ion-content>