.box {
    padding: 10px 5px;
}

.img {
    width: 200px;
}

.img1 {
    width: 100%;
}


.img-box {
    text-align: center;
}

.ato {
    text-align: center;
}

.button {
    text-align: center;
    width: 100%;
}