<ion-header [translucent]="true">
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            หลักสูตรที่เปิดรับสมัครปีการศึกษา 1/2566
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <div class="box"></div>
        <div class="ato">
            <ion-title>
                หลักสูตรที่เปิดรับสมัครปีการศึกษา 1/2566
            </ion-title>
        </div>
    </ion-list> <img class="img1" src="assets/BGPPT01.png" alt="">
    <div class="ato">
        <ion-title>
            หลักสูตรประกาศนียบัตรวิชาชีพ (ปวช.)
        </ion-title>
        <ion-accordion-group expand="inset">
            <ion-accordion value="first">
                <ion-item slot="header" color="light">
                    <ion-label>First Accordion</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                    First Content
                </div>
            </ion-accordion>
            <ion-accordion value="second">
                <ion-item slot="header" color="light">
                    <ion-label>Second Accordion</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                    Second Content
                </div>
            </ion-accordion>
            <ion-accordion value="third">
                <ion-item slot="header" color="light">
                    <ion-label>Third Accordion</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                    Third Content
                </div>
            </ion-accordion>
        </ion-accordion-group>
    </div>
</ion-content>