.box {
    padding: 30px 10px;
}

.img {
    width: 150px;
}

.img-box {
    text-align: center;
}

.ato {
    text-align: center;
    font-size: 2px;
}

.d {
    font-size: 18px;
}

.d1 {
    font-size: 18px;
}

.d2 {
    font-size: 20px;
}

.d3 {
    font-size: 20px;
}

.d4 {
    font-size: 20px;
}

.d5 {
    font-size: 20px;
}

.button {
    text-align: center;
    width: 100%;
}

.d0 {
    text-align: center;
    width: 100%;
}